pathlib < 1.1, >= 1.0
click < 6.8, >= 6.7
xmltodict < 0.12, >= 0.11
html5lib < 1.1, >= 1.0
html2text==2018.1.9
mistune < 0.9, >= 0.8
dateparser < 0.8, >= 0.7
attrs < 17.5, >= 17.4
future < 0.17, >= 0.16
slugify < 0.1, >= 0.0

lawfactory_utils
